[workspace]
resolver = "2"
members = ["contracts/arcade_hub"]

[workspace.package]
edition = "2021"
license = "Apache-2.0"

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
strip = true
